<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample.project.mapper.IUserInfoMapper">
    <select id="getPhoneNumExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(PHONE_NUM)>0,'Y','N') AS EXISTS_YN
        FROM USER_INFO
        WHERE PHONE_NUM=#{phoneNum}
    </select>
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (PHONE_NUM,
         USER_NAME,
         PASSWORD)
        VALUES (#{phoneNum},
                #{userName},
                #{password})
    </insert>
    <select id="getLogin" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT PHONE_NUM, PASSWORD
        FROM USER_INFO
        WHERE PHONE_NUM=#{phoneNum}
          AND PASSWORD=#{password}
    </select>
    <select id="getPhoneNum" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT PHONE_NUM, USER_NAME
        FROM USER_INFO
        WHERE 1=1
        <if test="phoneNum neq null and userName neq ''">
            AND PHONE_NUM = #{phoneNum}
        </if>
        AND USER_NAME = #{userName}
    </select>
    <update id="updatePassword" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET PASSWORD=#{password}
        WHERE PHONE_NUM=#{phoneNum}
    </update>
</mapper>